/vendor
/uploads/product-imgs/*
/uploads/tmp/*
/tests/Unit/DataProviders
/.phpunit.result.cache
/config/database.php
/tests/Unit/Plugins
/cron.log
/app/Validator.php
/plugins/WoocommercePlugin
test.php
/tests
/app/Cron
/app/FormBuilder
.$prodmanager.drawio.bkp